<div class="p-24">

  <div fxLayout="row" fxLayoutAlign="start center">
    <h1 class="mr-8">Profile</h1>

    <button mat-icon-button (click)="toggleEdit()" *ngIf="!edit">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div class="mat-elevation-z8 p-24" fxLayout="column" [formGroup]="form">

    <div fxLayout="row" fxLayoutGap="16px">

      <div fxFlex>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required />
        </mat-form-field>
        <app-error [form]="form" field="email" label="Email">
        </app-error>
      </div>

      <div fxFlex></div>

    </div>

    <div class="mt-8" fxLayout="row" fxLayoutGap="16px">

      <div fxFlex>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstname" required/>
        </mat-form-field>
        <app-error [form]="form" field="firstname" label="First name">
        </app-error>
      </div>

      <div fxFlex>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastname" required/>
        </mat-form-field>
        <app-error [form]="form" field="lastname" label="Last name">
        </app-error>
      </div>

    </div>

    <div class="mt-20" *ngIf="edit">

      <button class="mr-8" mat-raised-button color="primary"
              (click)="save()">
        <mat-icon>save</mat-icon> Save
      </button>

      <button mat-raised-button color="accent" (click)="toggleEdit()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
    </div>

  </div>

</div>
