.mat-form-field {
  width: 100%;
}

.mat-elevation-z8 {
  background-color: white;
}

agm-map {
  height: 300px;
  margin-bottom: 20px;
}

.link {
  color: blue;
  margin-top: 8px;
  text-decoration: none;
  cursor: pointer;
}
