<div class="p-24">

  <h1 class="mr-8">Settings</h1>

  <div class="mat-elevation-z8 p-24" fxLayout="column" [formGroup]="form">

    <div fxLayout="row" fxLayoutGap="24px">

      <div fxFlex>
        <mat-form-field>
          <input type="password" matInput placeholder="Old Password" formControlName="oldPassword" required />
        </mat-form-field>
        <app-error [form]="form" field="oldPassword" label="Old Password">
        </app-error>
      </div>

      <div fxFlex></div>
    </div>

    <div fxLayout="row" fxLayoutGap="24px">

      <div fxFlex>
        <mat-form-field>
          <input type="password" matInput placeholder="New Password" formControlName="password" required/>
        </mat-form-field>
        <app-error [form]="form" field="password" label="New Password">
        </app-error>
      </div>

      <div fxFlex>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" required/>
        </mat-form-field>
        <app-error [form]="form" field="confirmPassword" label="Confirm Password">
        </app-error>
      </div>

    </div>

    <div>

      <button class="mr-8" mat-raised-button color="primary"
              [disabled]="form.invalid" (click)="save()">
        Change
      </button>

    </div>

  </div>

</div>
