@import '~@angular/material/theming';

// Define the default theme (same as the example above).
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme:   mat-light-theme($primary, $accent);

$sidebar-bg: mat-color($accent);
$sidebar-fg: mat-color($accent, '500-contrast');
